*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
   font-family: "Helvetica", "Arial", sans-serif;
  background: linear-gradient(135deg, #f0f8ff, #e6e6e6); 
  color: #333;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 { 
  font-size: Bold 2.125rem;
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    align-items: center;
}

p {
 font-size: 1.125rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}
