*
h1 { 
  font-size: Bold 2.125rem;
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    align-items: center;
}

p {
  font-size: 16px;
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    align-items: center;
}
